/* main‚Ìcss */

#main {
	height: auto;
	margin-bottom: 200px;
}

/* main-contents */

.list-Child {
	margin:0 200px ;
}

#sub-text {
	margin: 60px 0;
	text-align: center;
}

.list-Child li {
	margin: 50px;
	list-style: none;
	text-align: left;
	border-bottom: 1px solid #000;
}
